.btn1{
    text-decoration: none;
    padding: 20px;
    font-family: calibri;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: black;
  }
  .btn1:hover{
    color: white;
    background-color: gray;
    text-decoration: none;
  }


  .p
  {

    font-family: "Segoe IU", sans-serif;
    font-size: 20px;    
  }